<h2>Listing articles</h2>

<%= link_to 'New article', new_article_path %>

<table style="border: solid 1px #f2f2f2; margin-top:20px;">
  <tr>
    <th>Title</th>
    <th>Text</th>
  </tr>
 
  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.text %></td>
    </tr>
  <% end %>
</table>